@model Blog.Core.ViewModels.LoginVM
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">
    <link rel="shortcut icon" href="~/logo.png">
    <title>تسجيل دخول</title>
    <link href="~/css/simple-line-icons.css" rel="stylesheet" />
    <link href="~/dest/style.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-x-auto pull-xs-none vamiddle">
                <div class="card-group">
                    <div class="card card-inverse card-primary p-y-3">
                        <div class="card-block text-xs-center center">
                            <div>
                                <h2>مقالاتي</h2>
                            </div>
                        </div>
                    </div>
                    <div class="card p-a-2">
                        <form method="post" asp-action="Login" asp-controller="Home" asp-antiforgery="true">
                            <div class="card-block">
                                <h1>تسجيل الدخول</h1>
                                <p class="text-muted"></p>
                                @if (ViewBag.LoginMessageInfo != null)
                                {
                                    <div class="input-group" style="padding-bottom:10px">
                                        <div class="card card-inverse card-info">
                                            <div class="card-block">
                                                <div class="m-a-0">@ViewBag.LoginMessageInfo</div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (ViewBag.LoginMessageError != null)
                                {
                                    <div class="input-group" style="padding-bottom:10px">
                                        <div class="card card-inverse card-danger">
                                            <div class="card-block">
                                                <div class="m-a-0">@ViewBag.LoginMessageError</div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="input-group m-b-1">
                                    <input asp-for="Username" class="form-control en" placeholder="اسم المستخدم">
                                    <span asp-validation-for="Username" class="help-block text-danger"></span>
                                </div>
                                <div class="input-group m-b-2">
                                    <input asp-for="Password" class="form-control en" placeholder="كلمة المرور">
                                    <span asp-validation-for="Password" class="help-block text-danger"></span>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <button type="submit" class="btn btn-primary p-x-2">
                                            <i class="icon-login"></i>
                                            دخول
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/libs/jquery.min.js"></script>
    <script src="~/js/libs/bootstrap.min.js"></script>
    <script src="~/js/libs/tether.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        function verticalAlignMiddle() {
            var bodyHeight = $(window).height();
            var formHeight = $('.vamiddle').height();
            var marginTop = (bodyHeight / 2) - (formHeight / 2);
            if (marginTop > 0) {
                $('.vamiddle').css('margin-top', marginTop);
            }
        }
        $(document).ready(function () {
            verticalAlignMiddle();
        });
        $(window).bind('resize', verticalAlignMiddle);
    </script>
</body>
</html>
